<div class="image-box">
  <div class="image-box-inside most-ten">
    <%= link_to "20 most beautiful places", pages_places_path %><br>
    <%= link_to "20 most beautiful islands", "#" %><br>
    <%= link_to "20 most beautiful caves", pages_caves_path %><br>
    <%= link_to "20 most beautiful moutains", "#" %><br>
  </div>
</div>
