

<div class="row">
  <div class="col-md-8">



      <div class="image-box">
        <div class="image-box-inside">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/05/pulitzer_94_500.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2007/09/afghan-woman.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2007/11/aqsa.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/04/tourist_guy_e-mail_hoax_september_11th_2001_new_york_city.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/03/lockness_monster.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/04/budist_monk_on_fire.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2007/07/410px-einsatzgruppen_killing.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/03/tiananmen_square.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/06/woman_and_girl_falling.JPG">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/03/1930-lynching.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2008/01/lunch.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2007/10/oklahoma-city-bombing.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/04/spot_news_-1.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/04/reichstag_flag.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/03/nagasaki-1945.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2007/06/assassination.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/05/omayra_sanchez.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2007/09/segregated.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/04/che_dead.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2007/09/oka_stare_down.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2008/02/iraqi_prisoner_and_son.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/04/tupac4.jpg">
            <img src="http://www.worldsfamousphotos.com/wp-content/uploads/2007/11/niagrafalls.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/03/albert-einstein-1951.jpg">
            <img src="http://worldsfamousphotos.com/wp-content/uploads/2007/03/hitler.jpg">
            <img src="http://i1.wp.com/listverse.com/wp-content/uploads/2014/03/0114.jpg?zoom=2&resize=632%2C415">
            <img src="http://i1.wp.com/listverse.com/wp-content/uploads/2014/03/0312.jpg?zoom=2&resize=632%2C415">
            <img src="http://i1.wp.com/listverse.com/wp-content/uploads/2014/03/0413.jpg?zoom=2&resize=632%2C415">
            <img src="http://i1.wp.com/listverse.com/wp-content/uploads/2014/03/098.jpg?zoom=2&resize=632%2C415">
            <img src="http://i0.wp.com/listverse.com/wp-content/uploads/2014/03/1011.jpg?zoom=2&resize=632%2C415">
          </div>





          BootstrapDialog.alert('I want banana!');





      </div>
  </div>
<div class="col-md-4">
  <div class="image-box">
    <div class="image-box-inside">
      <h3>Welcome</h3>
        <p>
          These are indeed world’s most famous photos. Every single one of them has a great story behind, we’re trying to bring you the pictures that changed mankind. If the change was good or bad, that is for you to judge. Click it to see more information.
        </p>
    </div>
  </div>
</div>

</div>
