@import "bootstrap-sprockets";
@import "bootstrap";
@import "nav";
@import "images";
@import "tags";

body {
  background-color: #1B191B;
  color: #ddddd1;
  }


.container {width: 1000px}

a {color: #ddddd1;}

a:hover {color: white}

.upload-index-image {
  color: black;
  width: 10em;
  padding-left: 0.8em;
  font-size: 2m;
  a{color: black}
  }

.upload-index-image:hover {
  a {text-decoration: none;}
    cursor: pointer;
  }

.col-xs-4 {border: 1em solid red}
.col-md-2 {
  background-color: white;
  width: 20%;
  margin: 1em;
  }





// Modal Stuffs

  input, button, select, textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;
background-color: black;
width: 7.9em;
padding: 0
 }

.modal-body{p {color: black}}

.modal-title {
  color: black;
  font-size: 30px;
  }


// tag

.btn-success.tag {
  margin-right: 20em;
  }

.popover {
    color: black;
}


label{color: black}

.favorite-button {
  margin-left: 42em;
  margin-top: -6em;
  background: black;
  border: black;
  opacity: 0.8
  }

.favorite-button:hover{
  background: black;
  border: black;
  }
.row {margin-top: -1.5em}
