@import "bootstrap-sprockets";
@import "bootstrap";
@import "nav";

body {
  background-color: #1B191B;
  color: #ddddd1;
  }


.container {width: 1000px}

a {color: #ddddd1;}

a:hover {color: white}

.upload-index-image {
  color: black;
  width: 10em;
  padding-left: 0.8em;
  font-size: 2m;
  a{color: black}
  }

.upload-index-image:hover {
  a {text-decoration: none;}
    cursor: pointer;
  }



.image-box {
  padding: 1.4em;
  background-color: #E7E4E4;;
  border-radius: 1.4em;
  }

.image-box-inside {
  background-color: #121211;
  h3 {text-align: center;}
  padding: 1em;

  img {
   background: #2b2b2b;
   padding: 0.4em;
   margin-bottom: 3px;
   border: 2em;

  }

  img#image-in-homepage {
     width: 9.9em;
     height: 7em;
   }

   img#image-in-modal {margin-left: 7.5em;}

  img:hover {background: #EFE7E7;}
}

.col-xs-4 {border: 1em solid red}
.col-md-2 {
  background-color: white;
  width: 20%;
  margin: 1em;
  }





// Modal Stuffs

  input, button, select, textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;
background-color: black;
width: 7.9em;
padding: 0
 }

.modal-body{p {color: black}}

.modal-title {
  color: black;
  font-size: 30px;
  }


// tag

.btn-success.tag {
  margin-right: 13em;
  }

.popover {
    color: black;
}
