


.image-box {
  padding: 1.4em;
  background-color: #E7E4E4;;
  border-radius: 1.4em;
  }

.image-box-inside {
  background-color: #121211;
  h3 {text-align: center;}

  img {
   background: #2b2b2b;
   padding: 0.4em;
   margin-bottom: 3px;
   border: 2em;

  }

  img#image-in-homepage {
     width: 9.9em;
     height: 7em;
     margin-top: 0.3em;
   }

  img#image-in-modal {
    width: 371px;
    height: 371px;
            }

  img:hover {background: #EFE7E7;}
}

//image on the side
#image-on-side{
  width: 8em;
  height: 6em;
  margin-right: 0.29em;
  }
