


.navbar-default {height: 2em}
.navbar-header {
  a {
    color: black;
    padding-top: 1em;
    font-family: 'Lobster', cursive;
    font-size: 2em;
  }
  a:hover {
    color: rgb(86, 64, 64);
    text-decoration: none;
    }
}

//sign-in


//sign-in
.btn-primary.nav-sign-in {
  margin-left: 54em;
  margin-top: -3.9em;
  background: #1B191B;
  border: black
}
.btn-primary.nav-sign-in:hover {background: #564856;}

//sign-up
.btn-primary.nav-sign-up{
  margin-left: 60em;
  margin-top: -6.8em;
  border-color: #f8f8f8;
  color: white;
  background-color: #1B191B;
}
.btn-primary.nav-sign-up:hover {
  background: #564856;
  }


#form{display: none}

//sign-out button

.btn-primary.nav-sign-out{
  margin-left: 57.5em;
  margin-top: -6.8em;
  border-color: #f8f8f8;
  color: white;
  background-color: #1B191B;
}
.btn-primary.nav-sign-out:hover {
  color: white;
  background: #564856
  }

//sign in and image button
.btn-primary.nav{
  border-color: #f8f8f8;
  color: white;
  background-color: #f8f8f8;
  height: 2em;
  }
.btn-primary.nav:hover{background-color: black;}


.nav-my-image {
  margin-left: 12em;
  margin-top: -4em;
  background: #1B191B;
  border: black
}
.btn-primary.nav-my-image:hover{background: #564856;}


.nav-tag {
  margin-top: -4em;
  margin-left: 0.5em;
  background: #1B191B;
  border: black
}
.btn-primary.nav-tag:hover{background: #564856;}

.nav-rec {
  margin-top: -4em;
  margin-left: 24em;
  border-color: #f8f8f8;
  color: white;
  background-color: #1B191B;
  }

.btn-primary.nav-rec:hover {
  background: #564856;
  }
