<div class="col-md-4">
  <div class="image-box">
    <div class="image-box-inside">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida nunc sit amet justo vestibulum, in bibendum velit volutpat. Quisque interdum, lacus luctus bibendum posuere, nibh leo venenatis turpis, in rutrum libero neque sed orci. Mauris placerat elit nec elit volutpat, eu hendrerit lacus blandit. Cras non sem sit amet arcu tempor faucibus. Donec ex risus, iaculis ut congue tempor, tempor non mauris. Pellentesque sed elementum lectus. Proin lacus nunc, rhoncus sed cursus non, dictum et ipsum. Aenean tristique, orci sed finibus commodo, diam dolor gravida nibh, eu porta arcu justo sed nulla. Suspendisse sed justo dui. Maecenas a pretium odio, et suscipit eros. Curabitur pharetra pellentesque ipsum non porta. Donec bibendum hendrerit lectus, a tempor orci pulvinar quis. Sed facilis
        </p>
    </div>
  </div>
</div>
