
<br >
<div class="image-box">
  <div class="image-box-inside most-ten">
    <%= link_to "10 most beautiful places", "#" %><br>
    <%= link_to "10 most beautiful islands", "#" %><br>
    <%= link_to "10 most beautiful caves", "#" %><br>
    <%= link_to "10 most beautiful moutains", "#" %><br>
  </div>
</div>
