

<div class="row">
  <div class="col-md-8">



      <div class="image-box">
        <div class="image-box-inside">
            <% @images.each do |image| %>





                    <%= link_to image do %>
                      <%= image_tag image.photo.url(:thumb) %>
                    <%end%>


            <%end%>
          </div>
      </div>
  </div>

 <%= render partial: "side" %>
</div>
<br>

<div class="upload">
  <%= link_to 'Upload Image', new_image_path %>

</div>
